// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

@import '../scss/variables';

.color-swatch {
    // This property is set in react.
    --js-color-swatch: transparent;

    width: 10px;
    height: 10px;
    border: 1px solid $tt-white-text;
    display: inline-block;
    flex-shrink: 0;

    background-color: var(--js-color-swatch);

    &.transparent {
        display: none;
    }
}
