/* SPDX-License-Identifier: Apache-2.0 */

/* SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC */

@import "../css/_variables.css";

.logs-container {
    overflow: auto;
    height: 300px;
}

.log-message {
    font-family: 'Cascadia Code', 'Monaco', 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    gap: 5px;
    align-items: flex-start;
    padding: 5px;

    .log-timestamp { flex-shrink: 0; }

    pre {
        font-family: inherit;
        margin: 0;
        flex-grow: 1;
        color: inherit;
        white-space: pre-wrap;
        line-break: loose;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    &:nth-last-of-type(odd) { background-color: var(--tt-light-gray); }
    &:nth-last-of-type(even) { background-color: var(--tt-medium-light-gray); }

    &.log-error { color: var(--tt-red); }
    &.log-warning { color: darkgoldenrod; }
    &.log-info { color: var(--tt-dark-blue); }
    &.log-log { color: var(--tt-dark-gray); }
}
