/* SPDX-License-Identifier: Apache-2.0 */

/* SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC */

@import '../css/_variables.css';

.pipe-info-dialog-wrapper {
	pointer-events: none;
}

.producer-consumer-tooltip {
	h3 {
		display: flex;
		gap: 7px;
		align-items: center;
	}

	.producer-icon svg {
		color: var(--core-highlight-inout);
	}

	.consumer-icon svg {
		color: var(--core-highlight-output);
	}

	ul {
		list-style: none;
		margin-block: 5px 20px;
		padding-inline-start: 0;
		margin-inline-start: 24px;
		font-size: x-large;

		&:last-of-type {
			margin-block-end: 5px;
		}
	}
}
