/* SPDX-License-Identifier: Apache-2.0 */

/* SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC */

@import "../css/_variables.css";

.op-performance-indicator {
    display: flex;
}

.op-element {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 5px;
    color: var(--tt-black);
    width: 100%;

    .highlighted-text {
        flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bp4-control.bp4-checkbox {
        margin: 0;
        width: 18px;
        padding-left: 0;

        &:not(.bp4-align-right) .bp4-control-indicator {
            margin-left: 0;
        }
    }

    .op-type.icon {
        color: var(--js-congestion-color, var(--tt-black));

        line-height: 1;

        &.queue {
            svg {
                stroke: var(--js-congestion-color, var(--queue-color));
            }
        }
    }
}
