/* SPDX-License-Identifier: Apache-2.0 */

/* SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC */

@import "../css/_variables.css";


.top-header-component {
    color: var(--tt-medium-light-gray);
    display: flex;
    gap: 20px;
    align-items: center;

    .bp5-control.bp5-switch {
        margin-bottom: 0;
    }

    .text-content {
        display: flex;
        align-items: center;
        gap: 10px;
        .architecture-label{
            /* font-weight: bold; */
            text-transform: capitalize;
        }
    }

    .bp5-button.no-text .bp5-icon {
        margin-right: 0;
    }

    .bp5-button.bp5-minimal svg { color: var(--tt-medium-light-gray); }
    .bp5-button.bp5-minimal.bp5-disabled svg { color: var(--tt-dark-gray); }

    .path-label {
        max-width: clamp(150px, 15vw, 250px);

        @media (min-width: 1440px) {
            & {
                max-width: max(200px, 25vw);
            }
        }

        @media (min-width: 2560px) {
            & {
                max-width: unset;
            }
        }
    }
}
