/* Tenstorrent powerpoint theme */
$tt-yellow: #ffd10a;
$tt-red: #f04f5e;
$tt-purple: #786bb0;
$tt-background: #33333d;
$tt-off-background: #44444d;
$tt-slight-off-background: #383840;
$tt-very-dark-gray: #1c2127;
$tt-black: #000000;
$tt-white-text: #fefef6;
$tt-light-gray: #eeeee6;
$tt-medium-light-gray: #cbcbcb;
$tt-medium-gray: #909096;
$tt-dark-gray: #606066;
$hr: #676767;
$tt-light-blue: #72deff;
$tt-medium-blue: #008cab;
$tt-dark-blue: #004c9b;

$bright-highlight: #99ff00;
$node-select: #ffd500;
$pipe-select: #fff58a;
$c-dram: #7abdcc;
$c-core: #a5cc7a;
$c-router: #d0c079;
$c-eth: #a794ee;

$progress-bar-track: #262626;
$progress-bar-fill: #7abdcc;

$link-saturation-track: #2d72d2;
$link-saturation-fill: rgba(95, 107, 124, 0.2);

$detailed-vew-component: #a6bce5;
$detailed-vew-light-text: #99c4ff;
