@import "variables";

.bottom-dock {
    padding: 0 20px;
    background-color: $tt-light-gray;
    position: relative;
    color-scheme: light;

    .dock-close-button {
        position: absolute;
        top: 0;
        right: 0;
    }

    pre {
        color: $tt-dark-gray;
    }

    .bp4-tab-panel {
        margin-top: 0px;
    }

    .bp4-tab {
        border: none;
        color: $tt-dark-gray;
        transition: background-color 250ms linear, color 250ms linear, border 250ms ease-out;

        &:hover {
            color: $tt-medium-gray;
        }

        &[aria-selected="true"] {
            color: $tt-dark-blue;
            background-color: transparent;
        }
    }


    .bp4-tab-indicator {
        bottom: 2px;
        height: 1px;
        background-color: $tt-dark-blue;
    }

    .operations-table,
    .operands-table {
        height: 302px;

        .bp4-table-cell-ledger-odd {
            background-color: $tt-extra-light-gray;
        }
    }

    .op-element {
        color: $tt-black;
        display: flex;
        gap: 5px;
        justify-items: center;
        align-items: center;
        margin-bottom: 0;

        .bp4-control:not(.bp4-align-right) {
            margin: 0;
            margin-right: -7px;
        }

        .color-swatch {
            width: 10px;
            height: 10px;
            border: 1px solid $tt-white-text;
            display: inline-block;

            &.transparent {
            }
        }
    }

    .table-operation-cell > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;

    }

    .bp4-table-cell-col-0 {
        width: 350px;
    }

    .sortable-table-header {
        // TODO: check if fading sort icon 50% makes sense
        cursor: pointer;
        position: relative;

        .sort-icon {
            right: 5px;
            top: calc(50% - 8px);
            position: absolute;
            padding-left: 25px;
            background: linear-gradient(to left, $sort-header, transparent);
            >span {
                background-color: $sort-header;
            }
        }
    }

    .bp4-table-header {
        &.current-sort {
            .bp4-table-column-name {
                //color: $tt-white-text;
                //background-color: $tt-dark-gray;
                background-color: $sort-header;
            }

            &.sorted-desc {

            }
        }
    }
}
