.collapsible-component {
    > [type="button"] {
        color: #fff;
        padding: 0;
        margin-bottom: 5px;

        .operations-wrap & {
            color: #000;
            margin-bottom: 0;
        }
    }
}

