/* SPDX-License-Identifier: Apache-2.0 */

/* SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC */

@import "../../css/_variables.css";

.bottom-dock {
    padding: 0 20px;
    background-color: var(--tt-light-gray);
    position: relative;
    color-scheme: light;

    .search-field {
        margin-top: 10px;
    }

    .dock-close-button {
        position: absolute;
        top: 0;
        right: 0;
    }

    .operations-table pre {
        color: var(--tt-dark-gray);
    }

    .bp5-tab-panel {
        margin-top: 0;
    }

    .bp5-tab {
        border: none;
        color: var(--tt-dark-gray);
        transition: background-color 250ms linear, color 250ms linear, border 250ms ease-out;

        &:hover {
            color: var(--tt-medium-gray);
        }

        &[aria-selected="true"] {
            color: var(--tt-dark-blue);
            background-color: transparent;
        }
    }


    .bp5-tab-indicator-wrapper .bp5-tab-indicator {
        bottom: 2px;
        height: 1px;
        background-color: var(--tt-dark-blue);
    }

    .queues-table,
    .operations-table,
    .operands-table {
        height: 255px;
        margin-top: 5px;

        .bp5-table-cell-ledger-odd {
            background-color: var(--tt-extra-light-gray);
        }

        .bp5-table-cell {
            display: flex;
            align-items: center;
            justify-content: start;

            &.align-right {
                text-align: right;
                justify-content: end;
            }
        }

        .bp5-table-truncated-text:has( .slowest-operand-wrapper) {
            width: 100%;
        }

        .operand-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            max-width: 100%;

            &.slowest-operand-wrapper {
                width: max(calc(100% - 18px), 110px);
                max-width: 100%;
            }

            .op-element, .op-performance-indicator {
                flex: 1 1 0;
                width: 100%;
            }
        }
    }

    .queues-table { height: 290px; }

    .no-data-available {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 255px;
        color: var(--tt-dark-gray);
        font-weight: bold;
    }

    .slowest-operand-direction-icon { margin-left: 2px; }

    .bp5-table-column-name-text {
        padding-right: 25px;
    }

    .can-select-all-rows .bp5-table-column-name-text {
        padding-left: 35px;
    }

    .sortable-table-checkbox {
        width: 0;
        margin: 0;
        position: absolute;
        left: 10px;
        top: -29.5px;
    }

    .sortable-table-header {
        cursor: pointer;
        position: absolute;
        width: 100%;
        /* this is a little hackish, maybe find a more elegant solution */
        height: 30px;
        top: -30px;

        .sort-icon {
            right: 5px;
            top: 0; /* calc(50% - 8px); */
            position: absolute;
            padding-left: 25px;
            background: linear-gradient(to left, var(--sort-header), transparent);

            > span {
                background-color: var(--sort-header);
            }
        }
    }

    .bp5-table-header {
        &.current-sort {
            .bp5-table-column-name {
                /* color: var(--tt-white-text); */
                /* background-color: var(--tt-dark-gray); */
                background-color: var(--sort-header);
            }

            &.sorted-desc {

            }
        }
    }

    .table-loading {
        display: grid;
        align-content: center;
        justify-content: center;
        gap: 15px;
        color: var(--tt-dark-gray);
        height: 290px;

        .bp5-spinner .bp5-spinner-track {
            stroke: var(--tt-medium-light-gray);
        }

        .bp5-spinner .bp5-spinner-head {
            stroke: var(--tt-dark-gray);
        }
    }
}
