// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

@import '../../scss/variables';

.ratio-number {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    svg {
        fill: $alert-color !important;
    }
}
