/* SPDX-License-Identifier: Apache-2.0 */

/* SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC */

@import '../../css/_variables.css';

.warning-button {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;

    svg {
        fill: var(--alert-color) !important;
    }
}
