/* SPDX-License-Identifier: Apache-2.0 */

/* SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC */

@import "../../css/_variables.css";

.bp5-dialog.remote-connection-dialog {
    background-color: var(--tt-slight-off-background);

    .bp5-dialog-header {
        background-color: var(--tt-off-background);

        .bp5-icon, .bp5-heading {
            color: var(--tt-light-gray);
        }
    }

    .bp5-form-group-sub-label { color: var(--tt-light-gray); }

    fieldset {
        border: solid 1px var(--tt-medium-gray);
        border-radius: 5px;
    }
}

.verify-connection-item {
    display: flex;
    align-items: center;
    gap: 2px;

    .connection-status-icon {
        animation: 0.7s steps(2) infinite alternate both;
    }

    &.status-IDLE .connection-status-icon { color: gray; }
    &.status-PROGRESS .connection-status-icon {
        animation-name: connection-test-progress;
        color: gold;
    }
    &.status-FAILED .connection-status-icon { color: orangered; }
    &.status-OK .connection-status-icon { color: greenyellow; }
}

@keyframes connection-test-progress {
    from { color: gray; }
    to { color: gold; }
}
