/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~normalize.css';
@import '@blueprintjs/core/lib/css/blueprint.css';
@import '@blueprintjs/popover2/lib/css/blueprint-popover2.css';
@import '@blueprintjs/table/lib/css/table.css';
@import '@blueprintjs/icons/lib/css/blueprint-icons.css';
/*@import 'spatial_gui/plugin.css';*/
/*@import 'prismjs/themes/prism-tomorrow.css';*/

/* Tenstorrent powerpoint theme */
$tt-yellow: #ffd10a;
$tt-red: #f04f5e;
$tt-purple: #786bb0;
$tt-background: #33333d;
$tt-off-background: #44444d;
$tt-slight-off-background: #383840;
$tt-white-text: #fefef6;
$tt-light-gray: #eeeee6;
$tt-medium-gray: #909096;
$tt-dark-gray: #606066;
$tt-light-blue: #72deff;
$tt-medium-blue: #008cab;
$tt-dark-blue: #004c9b;

/*@import 'spatial_gui/_route.scss';*/
/*@import 'perf_dump/_perf_dump.scss';*/

body {
    /*position: relative;
    color: white;*/
    /*overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;*/
    //height: 100vh;

    margin: 0;
    background: $tt-background;
    color: $tt-white-text;
    font-family: 'Arial Nova', Arial, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: $tt-light-blue;
}

*:active,
*:focus {
    outline: 0;
    border: none;
}

$top-nav-height: 70px;
$footer-height: 20px;

// Ful app layout, which is side bar, top nav, main content, and footer
.App {
    color: $tt-white-text;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: $top-nav-height 1fr;
}

.Footer {
    position: absolute;
    bottom: 0px;
    min-width: 100vw;
    background: $tt-purple;
    min-height: #{$footer-height};
    display: flex;
}

// Main layout (within App)
.MainLayout {
    grid-row: 2 / 3;
    grid-column: 2;
    padding: 10px;
    min-height: calc(100vh - #{$top-nav-height} - #{$footer-height} - 5px);
}

.TopNav {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    padding-top: 5px;

    .model-name {
        font-size: 20px;
        margin-left: 100px;
        padding-top: 15px;
    }

    .app-mode {
        display: flex;
        font-size: 20px;
        font-style: italic;
        padding-top: 15px;
        margin-left: 100px;
        color: $tt-medium-gray;

        .app-mode-text {
            padding-left: 5px;
        }
    }
}

// Sidebar with icons, in MainLayout
.SideBar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    //height: calc(100vh - 20px);
    height: 100vh;

    padding-left: 5px;
    padding-top: 15px;

    //border-right: 1px solid $tt-dark-gray;
    background-color: $tt-off-background;

    .side-bar-button {
        margin-top: 10px;
    }

}

// Performance balance layout (within Main), which is a column of boxes on the left, and table on the right
.PerformanceBalanceLayout {
    grid-column: 2;

    display: grid;
    grid-template-columns: 450px 1fr;
}

.PerformancePanels {
    grid-column: 1 / 2;
    padding: 5px;
}

.PerformanceTable {
    grid-column: 2;
}

// Place and route layout (within Main) is... something (TBD)
.PerformanceBalanceLayout {
    grid-column: 2;

    /*display: grid;
    grid-template-columns: 450px 1fr;*/
}

/*.TopPanel {
  grid-column: 2;
  grid-row: 2 / 3;
  display: flex;
}

.BottomPannel {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 850px 1fr;
  grid-template-rows: 50px 1fr;
}*/

#selection-bar {
    grid-column: 1 / 3;
    grid-row: 1;
}

#grid {
    grid-column: 1 / 2;
    grid-row: 2;
}

#ops {
    grid-column: 2;
    grid-row: 2;
    padding-left: 20px;
    font-size: 1em;
}

#selection-info tr th,
#stats-box tr th,
#system-box tr th {
    background-color: $tt-medium-blue;
    color: $tt-white-text;
}

.ops-table {
    font-size: 0.9em;
}

.ops-table tbody tr:nth-of-type(odd) {
    background-color: #38383f;
}

.ops-table tbody tr:nth-of-type(even) {
    background-color: #404047;
}

.ops-table tbody tr {
    border-bottom: 1px solid #2f2f34;
}

.ops-table tbody tr:last-of-type {
    border-bottom: 2px solid #007998;
}

.ops-table tbody tr:first-of-type {
    border-top: 2px solid #007998;
}

.data-box {
    border: 2px solid $tt-light-gray;
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;

    h3 {
        margin: 5px 0;
    }
}

.bp3-select-popover .bp3-menu {
    max-height: 400px;
    overflow: auto;
}

.open-test-button {
    margin-left: 10px;
}

#graph-title {
    font-family: 'Consolas', 'Arial Nova', 'Arial', sans-serif;
    font-size: 25px;
    padding-top: 10px;
    margin-left: 100px;
}

.run-alert {
    p {
        color: black;
    }
}

.run-test-container {
    display: grid;
    grid-template-rows: 100px 1fr;
    min-height: 100%;
}

.run-test-controls {
    grid-row: 1 / 2;
}

.run-test-output {
    grid-row: 2;
    min-height: 100%;
}

.run-test-pre-output {
    background: $tt-off-background;
    border: solid 2px $tt-dark-gray;
    padding: 5px;
    overflow-y: scroll;
    //overflow-x: scroll;
    max-height: 85%;
    min-height: 85%;
    min-width: calc(100vw - 60px);
    max-width: calc(100vw - 60px);

    pre {
        white-space: pre-wrap;
    }
}

.help-content {
    color: black;
    padding: 10px;
}

.dialog-add-workspace {
    padding-bottom: 10px;
    color: black;

    .add-workspace-buttons {
        display: flex;
        justify-content: flex-end;

        .bp3-button {
            margin-right: 15px;
        }
    }

    .bp3-tabs {
        padding: 20px;
    }

    .bp3-tab-list {
        font-weight: bold;
    }
}

.help-text {
    cursor: help;
    color: $tt-light-blue;
}

.select-model {
    grid-row: 2;
    grid-column: 2;
    height: 80vh;

    display: flex;
    justify-content: center;
    flex: 1;

    font-family: 'Consolas', 'Arial Nova', 'Arial', sans-serif;
}

.welcome-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome {
    font-size: 30px;
    padding: 30px;
}

.workspace-message {
    font-size: 17px;
    color: $tt-light-gray;

    .workspace-name {
        color: $tt-yellow;
    }
}

.select-model-container {
    display: flex;

    .select-model-box {
        border: 2px solid $tt-off-background;
        margin: 20px;
        padding: 10px;
        display: flex;
    }

    .select-model-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 50px;

        .recently-used {
            ul {
                margin-top: 5px;
            }

            margin-top: 15px;
        }
    }

    .select-model-description {
        height: 100%;
    }

    .select-model-description,
    .select-model-text {
        min-width: 400px;
        max-width: 400px;
    }

    .select-model-text {
        font-size: 15px;
        padding: 10px 0;
    }

    h2 {
        margin-top: 5px;
    }

    .select-model-icon {
        color: $tt-dark-gray;
    }

    ul {
        display: block;
    }

    .bp3-tooltip2-indicator {
        display: block;
        border: none;
        cursor: inherit;
    }
}

.alert {
    color: black;
}

.verify-box {
    border: solid 1px $tt-medium-gray;
    margin: 0 20px;
    margin-bottom: 10px;
    padding: 5px;

    .verify-error {
        padding-left: 5px;
        color: #aa2222;
        font-style: italic;
    }
}

.network-footer-status {
    display: flex;

    .network-error-msg {
        padding-left: 10px;
        color: red;
    }

    .network-spinner {
        margin-top: -5px;
    }

    .network-workspace {
        margin-left: 5px;
    }
}

.easter-egg {
    display: none;
    position: fixed;
    left: 100px;
    top: 400px;
}

.ace_scrollbar::-webkit-scrollbar {
    width: 8px;
    //height: 8px;
    background-color: #223;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    background: #556;
}

.epoch-picker-div {
    margin-left: 10px;
    display: flex;
}

.epoch-slider {
    //max-width: 120px;
}

.epoch-text {
    margin-right: 10px;
}

.epoch-selected {
    font-size: 2em;
    color: white;
    margin: 0 10px;
    margin-top: -10px;
}

.epoch-choice {
    font-size: 1.5em;
    margin: 0 10px;
    margin-top: -8px;
}

.graph-viz-div {
    background-color: rgba(16, 22, 26, 0.3);
    border: solid 1px #101012;

    svg {
        //max-height: 550px;
        max-height: inherit;
        height: inherit;
        width: inherit;
    }
}

.ace_editor {
    margin-top: 5px;
}

.splash-screen{
    display: grid;
    width: 100vw;
    height: calc(100vh - 50px);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

}
button, .button {
    //@include common-monserrat;
    background-color: $tt-medium-blue;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 16px;
    line-height: 140%;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    transition: color 250ms linear, background-color 250ms linear;

    &:hover {
        background-color: lighten($tt-medium-blue, 20%);
    }

    &:focus {
        outline: none;
    }

}
