<!-- SPDX-License-Identifier: Apache-2.0 -->
<!-- SPDX-FileCopyrightText: © 2024 Tenstorrent Inc. -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline'"
    />
    <title>Route Visualiser</title>

</head>
<body>
<div id="root"></div>
</body>
</html>
