.node {
    &:hover {
        fill: #ececec;
    }


}

.node-type-d {
    fill: #7abdcc;
}

.node-type-c {
    fill: #a5cc7a;
}

.node-type-r {
    fill: #d0c079;
}

.node-type-e {
    fill: #a794ee;
}

.main-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-container {
    //margin: 50px;
    overflow: hidden;
    height: calc(100vh - 150px);
    width: 50vw;
}

.properties-panel__content {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;

    p {
        //display: inline-block;
    }
}
