.node {
    &:hover {
        fill: #ececec;
    }
}

.node-type-d {
    fill: #7abdcc;
    background-color: #7abdcc;
}

.node-type-c {
    fill: #a5cc7a;
    background-color: #a5cc7a;
}

.node-type-r {
    fill: #d0c079;
    background-color: #d0c079;
}

.node-type-e {
    fill: #a794ee;
    background-color: #a794ee;
}

.main-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-container {
    display: flex;
    gap: 50px;
    width: calc(100% - 100px);
}

.inner-sidebar {
    display: flex;
    flex-direction: column;

    hr {
        border: none;
        width: 100%;
        border-top: 1px solid #676767;

    }
}

.grid-container {
    flex: none;
    overflow: auto;
    height: calc(100vh - 150px);
    max-width: 50vw;
    margin: 0;
    padding: 5px;

    &.pipes-hidden {
        .node-svg {
            display: none;
        }
    }

    .node-container {
        display: grid;

        .node-item {
            width: 100px;
            height: 100px;
            position: relative;
            border: 1px solid #1c2127;

            .op-color-swatch {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                right: 20px;
            }

            .node-location {
                position: absolute;
                top: 0;
                left: 20px;
            }

            &.selected {
                .node-border {
                    $inset: 4px;
                    border: 2px solid #ffd500;
                    position: absolute;
                    top: $inset;
                    left: $inset;
                    bottom: $inset;
                    right: $inset;
                    z-index: 0;
                }
            }

            .group-border,
            .dram-border {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 0;
            }

            .node-type-label {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                right: 0;
                color: #1c2127;
                font-size: 16px;
                line-height: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 0;
            }

            .node-svg {
                position: absolute;
                z-index: 1;
            }
        }
    }


}

.properties-panel__content {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;


}

.opname {
    overflow: hidden;
}

.properties-panel {
    background-color: #cbcbcb;
    padding: 10px;
    flex-grow: 1;
    overflow-x: scroll;
    white-space: nowrap;
}


.properties-panel-nodes {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    gap: 20px;
    max-height: calc(100vh - 200px);

    .node-element {
        width: 25%;
        height: 100%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #494949;
        padding: 10px;


        h3 {
            color: #000000;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .node-controls {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            margin-bottom: 10px;
        }
    }
}

.node-links-wrap {
    background-color: #494949;
    //padding: 10px;
    //border: 1px solid;

    .link-title-details {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-content: center;
        gap: 10px;
        margin-bottom: 5px;

        &.inactive {
            color: #a5a5a5;

            input {
                opacity: 0.5;
            }
        }

        .progress-bar {
            .track {
                //background-color: #a20c0f;
            }
        }
    }

}

.node-pipelist,
.scrollable-content {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;

    li {

        padding-top: 4px;
        padding-left: 5px;
        font-size: 12px;
        padding-bottom: 5px;
        display: inline-flex;
        align-items: center;
        font-weight: 100;

        .bp4-control.bp4-checkbox {
            margin-bottom: 0;
        }

        .label {
            position: relative;
            display: inline-flex;
            align-items: center;
            gap: 5px;
        }
    }

    .color-swatch {
        width: 10px;
        height: 10px;
        border: 1px solid #ffffff;
        display: inline-block;

        &.transparent {
            display: none;
        }
    }
}


.list-wrap {
    overflow-y: scroll;
    max-height: calc(100vh - 240px);
    width: 100%;
    margin-top: 20px;

    .scrollable-content {
        width: 100%;
        padding-left: 0;
    }

    li {
        span {
            color: #1c2127;
        }
    }
}

.pipe-renderer-panel {
    display: flex;
    flex-direction: column;

    ul[role='listbox'] {
        overflow-y: scroll;
        max-height: 80vh;
    }

    .is-selected-pipe {
        background-color: #fff58a;
    }
}

.properties-tabs {
    .bp4-tab {
        background-color: #cbcbcb;
        color: #000000;
        font-size: 16px;

        &[aria-selected="true"] {
            color: #000000;
        }
    }
}

.search-field {
    display: flex;
    min-width: 250px;

}

.opname,
.operations-wrap {
    .op-element {
        color: #000;
        display: flex;
        gap: 5px;
        justify-items: center;
        align-items: center;

        .color-swatch {
            width: 10px;
            height: 10px;
            border: 1px solid #ffffff;
            display: inline-block;

            &.transparent {
                //display: none;
            }
        }
    }

    label {
        margin-bottom: 0;
    }
}

.opname {
    span {
        color: #fff;
    }
}

.bp4-control input:focus ~ .bp4-control-indicator {
    outline: none;
    box-shadow: none;
}

.congested-link {
    color: #ff0000;
}

.progress-bar {
    width: 100px;
    background-color: #262626;
    height: 4px;
    position: absolute;
    bottom: -2px;

    span {
        background-color: #7abdcc;
        height: 4px;
        display: block;
    }
}


.link-saturation-slider {
    .bp4-slider-track {
        .bp4-slider-progress {
            background-color: #2d72d2;

            &.bp4-intent-primary,
            &:first-of-type {
                background-color: rgba(95, 107, 124, 0.2);
            }
        }

    }
}
.detailed-view-card{
    color: #1c2127;
}
.detailed-view-wrap {
    color: #1c2127;

    .detailed-view-svg {
        rect {
            fill: #a6bce5;
        }
    }
}

